.notChecked {
  display: flex;
  justify-content: center;
}

.checked {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  text-decoration: line-through;
}

.input {
  border: none;
  padding: 18px;
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: #4753b1;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: #53006f;
  color: white;
}
